/* General Body Styles */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #243B55, #141E30);
    color: #e8ebe8;
    transition: background-color 0.3s, color 0.3s;
}

/* Header Styles */
header {
    background-color: rgba(52, 73, 162, 0.9);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}



nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #e8ebe8;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #e8ebe8;
    font-weight: 500;
    transition: color 0.3s ease;
}



nav ul li a:hover {
    color: #007bff;
}

nav ul li a img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

nav ul li a img:hover {
    filter: invert(28%) sepia(90%) saturate(1400%) hue-rotate(200deg) brightness(90%) contrast(100%); /* Adjust for a blue tint */
}


/* Hero Section Styles */
.hero {
    padding: 10rem 0;
    background: linear-gradient(to bottom, #A8D0E6, #374785);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 2rem 4rem;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin: 0 0 1rem 0;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 0;
}

/* About Section Styles */
.about-section {
    padding: 4rem 2rem;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s;
}



.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #e8ebe8;
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #e8ebe8;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #e8ebe8;
}



.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 1rem auto;
    text-align: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Projects Section Styles */
.projects-section {
    padding: 4rem 2rem;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s;
}



.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #e8ebe8;
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-grid h3 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #e8ebe8;
}



.project-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s;
}



.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    font-size: 1.8rem;
    margin-top: 0;
    color: #007bff;
}

.project-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 1.5rem;
}



.project-card a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #0056b3;
}

/* Contact Section Styles */
.contact-section {
    padding: 4rem 2rem;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s;
}



.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #e8ebe8;
}



.contact-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 1rem auto;
}

.contact-section a[href^="mailto:"] {
    color: #CAF3FF; 
    text-decoration: none;
}

.contact-section a[href^="mailto:"]:hover {
    color: #638691;
}
